PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_AUTH_DOMAIN=psicologiawii.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=psicologiawii
PUBLIC_FIREBASE_STORAGE_BUCKET=psicologiawii.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=
PUBLIC_FIREBASE_DATABASE_URL=https://psicologiawii-default-rtdb.firebaseio.com
PUBLIC_RECAPTCHA_WEB=
FIREBASE_PROJECT_ID=psicologiawii
PUBLIC_IP_TOKEN=
PUBLIC_GEMINI_KEY=
PUBLIC_APPCHECK_DEBUG_TOKEN=

# Cloudflare R2 Storage (Opcional)
PUBLIC_R2_ACCOUNT_ID=
PUBLIC_R2_ACCESS_KEY_ID=
PUBLIC_R2_SECRET_ACCESS_KEY=
PUBLIC_R2_BUCKET_NAME=
PUBLIC_R2_ENDPOINT=
PUBLIC_R2_URL=

# Cloudflare Deploy Hook (Opcional)
PUBLIC_CLOUDFLARE_DEPLOY_HOOK=

# Enviar correo (Opcional)
RESEND_API_KEY=
PUBLIC_RESEND_API_KEY=
