rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function esPersonal() {
      return request.auth != null && 
        get(/databases/$(database)/documents/smiles/$(request.auth.uid)).data.rol in ['personal', 'gestor', 'admin'];
    }

    match /smiles/{uid} {
      allow get: if request.auth.uid == uid || esPersonal();
      allow list: if esPersonal() || request.query.limit == 1;
      allow create: if request.auth.uid == uid && request.resource.data.rol == 'cliente';
      allow update: if (request.auth.uid == uid && request.resource.data.rol == resource.data.rol) || esPersonal();
      allow delete: if esPersonal();
    }

    match /productos/{id} {
      allow read: if true;
      allow write: if esPersonal();
    }

    match /negocio/{id} {
      allow read: if true;
      allow write: if esPersonal();
    }

    match /notepad/{id} {
      allow read, write: if esPersonal();
    }

    match /correos/{id} {
      allow read, write: if esPersonal();
    }
  
    match /servicios/{id} {
      allow read: if true;
      allow write: if esPersonal();
    }
  }
}